<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management | Homepage </title>
</head>
<body>
    
    <h1>This is the Homepage</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nesciunt ratione qui veniam odit perspiciatis rerum ipsam consequuntur quos a eum!</p>

    <h5><b><u>Shopping list</u></b></h5>
    <ul>
        <li>Mango</li>
        <li>Banana</li>
        <li>Oranges</li>
    </ul>


    <form action="">
        <div>
            <label for="">Username</label>
            <input type="text">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" >
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>

    <h3>Aweosme</h3>

</body>
</html>